.calendar-container {
  display: flex;
  max-width: 974px;
  height: 99vh;
  margin-left: 920px;
}

.bill-container {
  position: absolute;
  padding-left: 25%;
}

.item-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.billForm {
  display: flex;
  flex-direction: column;
}

.billForm-item {
  padding: 0px 20px 40px 0px !important;
  margin-top: 5px !important;
}

.bill-error-text {
  color: red;
  position: absolute;
  top: 125px;
}

.amount-error-text {
  color: red;
  position: absolute;
  bottom: 140px;
}

/*used for item list*/
.MuiListItem-root {
  flex-direction: column !important;
}
